<swiper-container>
  <swiper-slide
    ><div class="image-container">
      <img
        src="assets/img/art/1.jpg"
        alt="Artwork"
        class="img-fluid rounded-top"
      />
      <div class="image-title">Título de la imagen</div>
    </div></swiper-slide
  >
  <swiper-slide>Slide 2</swiper-slide>
  <swiper-slide>Slide 3</swiper-slide>
  <swiper-slide>Slide 4</swiper-slide>
  <swiper-slide>Slide 5</swiper-slide>
  <swiper-slide>Slide 6</swiper-slide>
  <swiper-slide>Slide 7</swiper-slide>
  <swiper-slide>Slide 8</swiper-slide>
</swiper-container>
