.example-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
    width: 250px; /* Puedes ajustar el ancho del menú lateral */
  }
  
  