.example-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
    width: 250px; /* Puedes ajustar el ancho del menú lateral */
  }
  .image-container {
    position: relative;
    display: inline-block;
    overflow: hidden; /* Asegura que el zoom no salga del contenedor */
    border-radius: 8px; /* Mantiene los bordes redondeados */
  }
  
  .image-container img {
    transition: transform 0.3s ease; /* Efecto de zoom */
  }
  
  .image-container:hover img {
    transform: scale(1.1); /* Aumenta el tamaño de la imagen */
  }
  
  .image-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6); /* Fondo semitransparente */
    color: #fff; /* Texto blanco */
    text-align: center;
    padding: 5px 0; /* Espaciado interno */
    font-size: 1rem; /* Tamaño de texto */
    font-weight: bold;
    border-bottom-left-radius: 8px; /* Opcional: bordes redondeados */
    border-bottom-right-radius: 8px;
  }
  